{% include "TatweerTrainingBundle::header.html.twig" %}

{% block body -%}
    <div class="titlepage"><div class="maintitlenews">{{ 'Training expenses classes creation'|trans({}, 'trainingexpensesclasses') }}</div></div>
    <div class="wrapper2">
 
    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
 

     {#    <ul class="record_actions">
   <li>
        <a href="{{ path('trainingexpensesclasses') }}">
            Back to the list
        </a>
    </li> 
</ul>#}
        </div>
{% endblock %}
{% include "TatweerTrainingBundle::footer.html.twig" %}